header {
    display: flex;
    justify-content: space-between;
}

header > img {
    height: 80px;
}

footer {
    background-color: rgb(248, 27, 27) !important;
    color: white;
    font-size: 10pt;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
}

nav {
    background: url(images/nav.jpg) repeat-x #094579;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

nav ul li {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    color: #fff;
    display: block;
    font-size: 12pt;
    font-weight: 400;
    padding: 10px 0;
    text-decoration: none;
}

nav ul li a.active {
    background-color: #f81b1b;
}

nav ul li:hover {
    background-color: #f81b1b;
}

nav ul li:hover a {
    color: #fff;
    text-decoration: none;
}

.card-header {
    background-color: #0364d9 !important;
    color: white;
    text-align: center;
}

.home hr {
    border-top: 3px solid #0364d9 !important;
}

/*.home .tagline {
    background: url(images/tagline.png) no-repeat;
    width:100%;
    height: 125px;
}
*/

.package-item {
	font-size:13px;
	
}

.package .text-danger {
	margin-bottom:0px;
	
}

.about-us .vision, .about-us  .mission, .about-us .core-values, .about-us .quality-policy {
    height: 50px;
	margin-top:1rem;
}

.about-us .row p, .about-us .row li {
    font-size:13px;
}

.about-us .row b {
    font-size:13px;
}

.certifications {
	width:200px;
}

.about-us hr {
    border-top: 2px solid #a2a2a2;
    font-weight: bold;
    margin: 10px 0;
}

.services .tests {
    display: flex;
    flex-direction: column;
}

.services .tests a {
    color: #007bff;
}

.services .tests a:hover {
    color: #0056b3;
    cursor: default;
    text-decoration: underline;
}

.services .text-center {
	background:#007bff;
	color:#fff;
	margin:1rem 0rem .5rem 0rem;
	border-radius: 3px 3px 0px 0px;
	padding:2px;
}

.services .exec-list {
	font-size:13px;
}
.services .text-center {
	font-size:14px;
}

.services #v-pills-home-service {
	font-size:14px;
}

.clinics .branchmap {
    width:100%;
	height:600px;
}

.clinics .card {
    border: 0;
}

.clinics .card-header {
    background: transparent !important;
    border-bottom: 0;
}

.clinics .card-body {
        font-weight: bold;

        
    }

.clinics .card-body div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.clinics .card-body div label {
    width: 150px;
}

.clinics .card-body div ul {
    list-style: none;
    padding-left: 0;
}

.clinics address {
    text-align: center;
    width: 100%;
}

.clinics select {
    color: #0364d9;
    font-weight: bold;
    text-align-last:center;
    text-transform: uppercase;
}

.clinics img {
    height: 40px;
    padding-bottom: 8px;
    width: 30px;
}

.clinics hr {
    border-top: 2px solid #a2a2a2;
	margin:0rem 2rem 1rem 2rem;
}

.career li {
	font-size:14px;
}

.career .card-header {
	font-size:14px;
	font-weight:bold;
}

.career .btn {
	font-size:13px;
	font-weight:bold;
}

.career #lead {
	font-size:13px;
	font-weight:bold;
	text-align:center;
}

.career .card-deck {
    padding-bottom: 10px;
}

.career .card-footer {
    background-color: white;
    border-top: 0;
}

.package hr {
    border-top: 2px solid #0364d9 !important;
}

.package P {
    font-weight: bold;
}

.package .card {
    margin-bottom: 10px;
}

.package .package-item {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-position: outside;
    padding: 0;
	margin-left:1rem;
}

.package .package-item li {
    margin-left: 1em;
	
}

.package .text-danger {
    font-weight: bold;
	font-size:13px;
}

.package .card-header {
    font-weight: bold;
	font-size:13px;
	padding:8px;
}

.contact-us button {
    background-color: #005bbe;
    color: white;
}

.contact-us hr {
    margin: 6px 0; 
}

#logo { 
    width:100%;
    height:90%;

}


@media screen and (max-width: 760px) {
  #holyweek {
	margin-top:1rem;
	padding-left:4rem;
	padding-right:3rem;
  }
}

.certificate > img {
	width:100%;
	height:100%
}
.certbtn > button {
	background:#0246d5;
	width:100%;
	margin-top:.5rem;
	color:#fff;
	border:none;
	padding:.5rem 0rem .5rem 0rem
}

#v-pills-tab a {
	border-bottom:solid 1px #e6e5e6;
	border-radius:0px;
	font-size:13px;
}

.services #v-pills-tab a {
	padding:9px;
	padding-left:1rem;
	font-size:13px;
}

.services .card-title {
border-bottom: solid #007bff 2px
}
.news {
	text-align:justify;
	font-size:12px;
}
.news {
	text-align:justify;
	font-size:14px;
}
#myNavbar li {
	border-bottom:solid 1px #fff;
}

.tests {
	font-size:14px;
}

